{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Transform{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h3>Let us transform your power usage</h3>

  <form method="post">

    <label for="name">Name?</label>
    <label for="name">Address?</label>
    <input name="name" placeholder="Name" id="name" required value="{{ request.form['name'] }}">
    <input name="address" placeholder="Address" id="address" required value="{{ request.form['address'] }}">

    <input type="submit" value="Transform!">
  </form>
{% endblock %}